body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(44, 41, 38);
  margin: 0;
}
a {
  text-decoration: none;
}
#main-header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  background-color: rgb(29, 26, 24);
  padding: 0 5%;
}
#page-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(238, 164, 80);
  text-transform: uppercase;
  /* padding: 15px; */
}
header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul li {
  margin: 0 1rem;
}
header nav a {
  font-size: 1.25rem;
  color: rgb(185, 131, 31);
}
header nav a:hover {
  color: rgb(228, 163, 44);
}
.menu-btn {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  display: none;
  justify-content: space-around;
}
.menu-btn span {
  background-color: white;
  width: 100%;
  height: 3px;
}
#side-drawer {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 26, 27);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#side-drawer:target/*it tells the browser that whenever this is selected following thing should execute*/ {
  display: block;
}
#side-drawer header {
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  align-items: center;
  padding: 0 5%;
}
#side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 4rem 1rem;
  align-items: center;
}
#side-drawer li {
  margin: 1rem;
}
#side-drawer li a {
  color: rgb(253, 239, 213);
  margin: 1rem 0;
  font-size: 2rem;
}
#side-drawer li a:hover {
  color: rgb(238, 189, 99);
}
h1 {
  text-align: center;
  color: rgb(238, 164, 80);
  font-size: 3rem;
}
#container {
  width: 80%;
  margin: 2rem auto;
}
#container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.menu img {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}
.menu {
  background-color: rgb(228, 206, 182);
  border-radius: 6px;
  list-style: none;
  overflow: hidden;
}
.menu-description {
  padding: 1.5rem;
  text-align: center;
  font-size: 200%;
}
h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
.btn {
  font-size: 1rem;
  background-color: rgb(228, 157, 44);
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
}
.btn:hover {
  background-color: rgb(221, 134, 34);
}
@media (max-width: 48rem) {
  h1 {
    font-size: 1.5rem;
  }
  header nav a {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  #container ul {
    grid-template-columns: 1fr;
  }
}
